@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Quicksand:300,400,700');

@import 'palette';

body {
    background-color: #222;
    margin: 0;
    font-family: Inconsolata;
}

table {

    //display: block;

    overflow: auto;

    width: 100%;

    border-collapse: collapse;

    thead tr {
        border-bottom: 3px solid $color-gray;
    }

    tr {
        height: 40px;
        border-bottom: 1px solid $color-gray;
    }

    th, td {
        padding-left: 5px;
        padding-right: 5px;

        text-align: left;

        text-overflow: ellipsis;
    }
}

.selectable table a {
    text-decoration: none;
    color: black;
}

.selectable table tbody tr:hover {
    cursor: pointer;
    background-color: $color-gray;
}

button {

    background-color: white;
    font-family: Inconsolata;
    color: black;
    border: 2px dashed black;
    outline: none;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;

    font-weight: bold;

    &:hover {
        background-color: $color-gray;
        cursor: pointer;
    }
}

table.kv {

    > * {
        table-layout: fixed;
    }

    td:first-child {
        //min-width: 200px;
        font-weight: bold;
    }

    td:last-child {
        font-weight: lighter;
    }
}

#content {
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
}